<!DOCTYPE html>
<html>
  <head>
    <title>Add a message</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Add a message</h1>
    <form method="POST" action="/new">
      <label>User </label><input type="text" name="user" />
      <br />
      <label>Text </label><input type="text" name="text" />
      <br />
      <input type="submit" value="Send"></input>
    </form>
  </body>
</html>
